$primary: #2f2949;
$white: #ffffff;
$secondary: #777777;
$text_grey: #2f2949;
$white_secondary: #acadc1;
$border: #dddddd;
$border_hover: #52458a;
$active: #433e8d;
$purple: #656ad9;

$radial-gradient: radial-gradient(circle, #2d1e88 0%, #06054a 100%), #06054a;
